<a href="https://colab.research.google.com/github/CheronoK/WEEK3-IP/blob/master/Martha_Kibet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#WEEK 3 INDEPENDENT PROJECT
You are working as a Data Scientist for MTN Cote d'Ivoire, a leading telecom company and you will be solving for the following research question.
Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

The telecom data provided for this project is only a sample ( i.e. for only three days).  The data files that you will need for this project will be as follows:

cells_geo_description.xlsx [https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing]

cells_geo.csv [https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing]

CDR_description.xlsx [https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD]

CDR 20120507 [http://bit.ly/TelecomDataset1]

CDR 20120508 [http://bit.ly/TelecomDataset2]

CDR 20120509 [http://bit.ly/TelecomDataset3]

# Loading the pandas library

In [0]:
import pandas as pd

# Loading the Datasets from the link provided

##Loading the 1st dataset

In [119]:
#The first dataset from an excel file
df1 = pd.read_excel('cells_geo_description.xlsx')
df1

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

##Loading the 2nd dataset

In [120]:
#Loading the dataset as a csv file and splitting the columns using a delimeter
df2 = pd.read_csv('cells_geo.csv', delimiter=';', index_col=0)
df2.head(50)

         VILLES      STATUS LOCALISATION  ...           AREA     CELL_ID   SITE_CODE
0        ADJAME  In Service      ABIDJAN  ...            NaN  fbb2e75af3  0bb492ef17
1        ADJAME  In Service      ABIDJAN  ...            NaN  1502501d78  0bb492ef17
2        ADJAME  In Service      ABIDJAN  ...            NaN  0c2e182a0c  0bb492ef17
3       ASSINIE  In Service    INTERIEUR  ...            NaN  69bdfc69fd  8a1e6ce31f
4       ASSINIE  In Service    INTERIEUR  ...            NaN  7a1029d2ab  8a1e6ce31f
5       ASSINIE  In Service    INTERIEUR  ...            NaN  0b4f56438f  8a1e6ce31f
6      KRIKOREA  In Service    INTERIEUR  ...            NaN  041d2504f5  260dbfedc5
7         ABOBO  In Service      ABIDJAN  ...            NaN  a70c1d263b  56306cc7ca
8         ABOBO  In Service      ABIDJAN  ...            NaN  e2d04ea883  56306cc7ca
9         ABOBO         NaN      ABIDJAN  ...            NaN  ee224cd27e  56306cc7ca
10        ABOBO         NaN      ABIDJAN  ...            NaN  107d0d752c  56306cc7ca
11        ABOBO  In Service      ABIDJAN  ...            NaN  3f766cedc0  c1ccd3443b
12        ABOBO  In Service      ABIDJAN  ...            NaN  b0578cdb7f  c1ccd3443b
13        ABOBO  In Service      ABIDJAN  ...            NaN  18a4221316  c1ccd3443b
14        ABOBO  In Service      ABIDJAN  ...            NaN  1b2bccad1f  c1ccd3443b
15  BINGERVILLE  In Service      ABIDJAN  ...            NaN  60865ff87f  17899e217a
16  BINGERVILLE  In Service      ABIDJAN  ...            NaN  c1dc258dc9  17899e217a
17  BINGERVILLE  In Service      ABIDJAN  ...            NaN  377ee76a7e  17899e217a
18      PLATEAU  In Service      ABIDJAN  ...            NaN  46185e38ee  aaca2668a7
19      PLATEAU  In Service      ABIDJAN  ...            NaN  ddb6bc11df  aaca2668a7
20      PLATEAU  In Service      ABIDJAN  ...            NaN  c4d2b0444b  aaca2668a7
21       ADJAME  In Service      ABIDJAN  ...            NaN  fa307adc83  92d827bd96
22       ADJAME  In Service      ABIDJAN  ...            NaN  4ddfebaf66  92d827bd96
23        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  f740406877  0f34c36ac5
24        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  959e54c8f7  0f34c36ac5
25        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  56b7e7000c  0f34c36ac5
26        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  bc51c17a6f  0f34c36ac5
27        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  e460975c9f  0f34c36ac5
28        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  2d125e9a95  0f34c36ac5
29        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  7cf207ef76  7430461f18
30        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  49377d7ad6  7430461f18
31        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  558c31e1a6  7430461f18
32        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  6a7a3aeebe  7430461f18
33        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  28ef177389  7430461f18
34        ABOBO  In Service      ABIDJAN  ...  ABIDJAN NORTH  fb7b3b953d  7430461f18
35  BINGERVILLE  In Service      ABIDJAN  ...  ABIDJAN NORTH  1ca30ab7f2  ed2333b820
36  BINGERVILLE  In Service      ABIDJAN  ...  ABIDJAN NORTH  70ca5922f2  ed2333b820
37  BINGERVILLE  In Service      ABIDJAN  ...  ABIDJAN NORTH  a587218b55  ed2333b820
38        DALOA  In Service    INTERIEUR  ...     NORTH WEST  d133371158  06c4cb622d
39        DALOA  In Service    INTERIEUR  ...     NORTH WEST  77c2b596ad  06c4cb622d
40        DALOA  In Service    INTERIEUR  ...     NORTH WEST  9cc0a0a14a  06c4cb622d
41        DALOA  In Service    INTERIEUR  ...     NORTH WEST  af4aefb2f4  06c4cb622d
42        DALOA  In Service    INTERIEUR  ...     NORTH WEST  de28a5d4d6  06c4cb622d
43        DALOA  In Service    INTERIEUR  ...     NORTH WEST  6d0fccf527  06c4cb622d
44   ABENGOUROU  In Service    INTERIEUR  ...           EAST  8cdfc1bc65  6e87d6cb59
45   ABENGOUROU  In Service    INTERIEUR  ...           EAST  068ef168c8  6e87d6cb59
46   ABENGOUROU  In Service    INTERIEUR  ...           EAST  f27e3dc31d  6e87d6cb59
47   ABENGOUROU  In Service    INTERIEUR  ...           EAST  409393b253  aa2d7103fc
48   ABENGOUROU  In Service    INTERIEUR  ...           EAST  cdb74d6e84  aa2d7103fc
49   ABENGOUROU  In Service    INTERIEUR  ...           EAST  5b2176898a  aa2d7103fc

[50 rows x 11 columns]

##Loading the 3rd dataset

In [121]:
#The 3rd dataset is loaded as an excel file
df3 = pd.read_excel('CDR_description.xlsx')
df3

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

##Loading the 4th dataset

In [122]:
#This datset is loaded as a csv file
df4 = pd.read_csv('Telcom_dataset.csv')
df4

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

##Loading the 5th dataset

In [123]:
#This dataset is also loaded as a csv file
df5 = pd.read_csv('Telcom_dataset2.csv')
df5

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

##Loading the 6th dataset

In [124]:
#This also loaded as a csv file
df6 = pd.read_csv('Telcom_dataset3.csv')
df6

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

# Cleaning Data

In [125]:
#Renaming the PRODUTC and the DATETIME columns on telcom_dataset to PRODUCT and DATE_TIME respectively
df4.rename(columns = {'PRODUTC': 'PRODUCT' , 'DATETIME': 'DATE_TIME'}, inplace = True)
df4

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [126]:
#Renaming the columns 'DW_A_NUMBER' AND 'DW_B_NUMBER' on the telcom_datset2 dataframe
#to 'DW_A_NUMBER_INT' AND 'DW_B_NUMBER_INT' respectively
df5.rename(columns = {'DW_A_NUMBER' : 'DW_A_NUMBER_INT' , 'DW_B_NUMBER' : 'DW_B_NUMBER_INT'} , inplace=True)
df5

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [127]:
#Renaming the ‘CELLID’’ and the ‘SIET_ID’ columns on the telcom_dataset3 dataframe to ‘CELL_ID’ and ‘SITE_ID’ respectively.
df6.rename(columns = {'CELLID' : 'CELL_ID' , 'SIET_ID' : 'SITE_ID'} , inplace=True)
df6

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

# Merging Datasets, Splitting, Deleting and Constructing new columns

In [128]:
#Merging the datasets from the three days i.e telcom_dataset, telcom_dataset2 and telcom_dataset3
df7 = pd.concat([df4, df5, df6] , ignore_index=True)
df7

      PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...  ...       ...         ...         ...
14998   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14999   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
15000   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
15001   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
15002   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

In [129]:
#Splitting the DATE_TIME column into two to give us date and time as different columns
df7[['DATE','TIME']] = df7.DATE_TIME.str.split(expand=True)
df7

      PRODUCT  VALUE              DATE_TIME  ...     SITE_ID        DATE        TIME
0       Voice      0  2012-05-06 23:04:37.0  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1         sms      0  2012-05-06 23:05:25.0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2         sms     25  2012-05-06 23:05:41.0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3       Voice     56  2012-05-06 23:05:42.0  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4       Voice     14  2012-05-06 23:06:29.0  ...  051KhYDCpv  2012-05-06  23:06:29.0
...       ...    ...                    ...  ...         ...         ...         ...
14998   Voice      0  2012-05-09 00:01:43.0  ...  f7d63a29e5  2012-05-09  00:01:43.0
14999   Voice     62  2012-05-09 00:01:43.0  ...  b4ddb9e93c  2012-05-09  00:01:43.0
15000   Voice     32  2012-05-09 00:01:43.0  ...  d68260ef50  2012-05-09  00:01:43.0
15001   Voice     30  2012-05-09 00:01:43.0  ...  b4130b54ab  2012-05-09  00:01:43.0
15002   Voice     60  2012-05-09 00:01:43.0  ...  6d70dae094  2012-05-09  00:01:43.0

[15003 rows x 12 columns]

In [130]:
#Deleting the DATE_TIME column aftre creating two separate DATE and TIME columns
del df7['DATE_TIME']
df7.head(60)

   PRODUCT  VALUE CELL_ON_SITE  ...     SITE_ID        DATE        TIME
0    Voice      0            1  ...  /TJNe+Mmtu  2012-05-06  23:04:37.0
1      sms      0            0  ...  /+cKZKIp41  2012-05-06  23:05:25.0
2      sms     25            0  ...  /u0FSD+ahi  2012-05-06  23:05:41.0
3    Voice     56            1  ...  +cNeJzsTp3  2012-05-06  23:05:42.0
4    Voice     14            1  ...  051KhYDCpv  2012-05-06  23:06:29.0
5     data      0            _  ...  /lrUXVGVcN  2012-05-06  23:07:26.0
6    Voice      0            1  ...  +38u2u/rfx  2012-05-06  23:08:02.0
7    Voice      0            5  ...  09UjmmY1Ds  2012-05-06  23:08:03.0
8    Voice      0            1  ...  0DeimCpZOc  2012-05-06  23:08:05.0
9      sms      0            0  ...  01MDiY5F89  2012-05-06  23:08:43.0
10     sms      0            2  ...  0Fmr/IZtQ+  2012-05-06  23:08:50.0
11     sms      0            2  ...  0MZBLLzPYZ  2012-05-06  23:09:12.0
12     sms      0            1  ...  0//cZOoEXj  2012-05-06  23:09:13.0
13     sms     25            1  ...  2dmu2Iy1CX  2012-05-06  23:09:16.0
14   Voice      0            1  ...  0Fmr/IZtQ+  2012-05-06  23:09:26.0
15   Voice      0            0  ...  176sGHv7Ym  2012-05-06  23:09:51.0
16   Voice     44            2  ...  ++ctND+jGD  2012-05-06  23:09:54.0
17   Voice      0            2  ...  1JODMow6DN  2012-05-06  23:09:59.0
18     sms      0            0  ...  2PbwFG2K9y  2012-05-06  23:10:05.0
19   Voice     14            1  ...  2GgIN622rt  2012-05-06  23:10:23.0
20    data      0            _  ...  /vLAMOS+Qm  2012-05-06  23:10:30.0
21     sms      0            1  ...  2dmu2Iy1CX  2012-05-06  23:10:41.0
22     sms     50            1  ...  2FzOAUm82C  2012-05-06  23:11:14.0
23    data      0            _  ...  2yuhUrSXQu  2012-05-06  23:11:27.0
24   Voice      0            1  ...  3mQAiRAfo7  2012-05-06  23:11:27.0
25    data      0            _  ...  2FzOAUm82C  2012-05-06  23:12:07.0
26   Voice      0            2  ...  +gySf02tKW  2012-05-06  23:12:10.0
27   Voice     19            0  ...  /EkqCbWDau  2012-05-06  23:12:25.0
28     sms     25            0  ...  /kxqxDGV0Z  2012-05-06  23:12:25.0
29     sms      0            2  ...  4K++Px614U  2012-05-06  23:12:36.0
30   Voice    192            1  ...  1AX75JmPtt  2012-05-06  23:12:43.0
31     sms      0            1  ...  0nabagle1r  2012-05-06  23:12:45.0
32   Voice     99            2  ...  /u0FSD+ahi  2012-05-06  23:13:03.0
33    data      0            _  ...  +pZNtCvhmT  2012-05-06  23:13:05.0
34     sms      0            1  ...  0MZBLLzPYZ  2012-05-06  23:13:09.0
35   Voice      0            2  ...  /kxqxDGV0Z  2012-05-06  23:13:13.0
36   Voice     12            5  ...  4506CmswTv  2012-05-06  23:13:23.0
37   Voice      0            1  ...  /+cKZKIp41  2012-05-06  23:13:30.0
38   Voice     24            2  ...  /vLAMOS+Qm  2012-05-06  23:13:41.0
39   Voice      0            2  ...  0nabagle1r  2012-05-06  23:13:45.0
40    data      0            _  ...  1DLa1Gsiik  2012-05-06  23:13:59.0
41   Voice   1610            1  ...  47yB6si0R9  2012-05-06  23:14:03.0
42   Voice      0            0  ...  0K+IDi1yjl  2012-05-06  23:14:08.0
43    data      0            _  ...  051KhYDCpv  2012-05-06  23:14:20.0
44     sms      0            1  ...  0eNnL1pokg  2012-05-06  23:14:40.0
45    data      0            _  ...  +laSrk7g6q  2012-05-06  23:15:04.0
46    data      0            _  ...  /eeMklgyJA  2012-05-06  23:15:04.0
47    data      0            _  ...  +gQ2AvXjaO  2012-05-06  23:15:09.0
48   Voice     14            1  ...  35gi1DzgNK  2012-05-06  23:15:34.0
49   Voice    152            1  ...  54Pb8dz/52  2012-05-06  23:15:41.0
50   Voice    138            3  ...  +38u2u/rfx  2012-05-06  23:15:44.0
51     sms      0            1  ...  +pZNtCvhmT  2012-05-06  23:15:44.0
52   Voice     30            2  ...  1AX75JmPtt  2012-05-06  23:15:46.0
53     sms      0            0  ...  5RMks2Nhbt  2012-05-06  23:15:48.0
54     sms      0            1  ...  5RMks2Nhbt  2012-05-06  23:15:58.0
55     sms      0            1  ...  5bFHC1hRn8  2012-05-06  23:16:00.0
56   Voice    192            2  ...  0BRdojv2my  2012-05-06  23:16:02.0
57     sms      0            2  ...  +ZaaZozy/+  2012-05-06  23:16:05.0
58   Voice      0            1  ...  2dmu2Iy1CX  2012-05-06  23:16:14.0
59   Voice      0            1  ...  51qrsXM+vt  2012-05-06  23:16:14.0

[60 rows x 11 columns]

In [131]:
#Merging the combined dataset(df7) and the cell_geo dataset
df8 = df7.merge(df2, how = 'right', on = 'CELL_ID')
df8

     PRODUCT  VALUE CELL_ON_SITE  ...     REGION          AREA   SITE_CODE
0        NaN    NaN          NaN  ...     LAGUNE           NaN  0bb492ef17
1        NaN    NaN          NaN  ...     LAGUNE           NaN  0bb492ef17
2        NaN    NaN          NaN  ...     LAGUNE           NaN  0bb492ef17
3        NaN    NaN          NaN  ...  SUD COMOE           NaN  8a1e6ce31f
4        NaN    NaN          NaN  ...  SUD COMOE           NaN  8a1e6ce31f
...      ...    ...          ...  ...        ...           ...         ...
3969     NaN    NaN          NaN  ...   MARAHOUE  CENTRE NORTH  f91ed8d2e9
3970     NaN    NaN          NaN  ...   MARAHOUE  CENTRE NORTH  f91ed8d2e9
3971     NaN    NaN          NaN  ...   MARAHOUE  CENTRE NORTH  61bee9c70c
3972     NaN    NaN          NaN  ...   MARAHOUE  CENTRE NORTH  61bee9c70c
3973     NaN    NaN          NaN  ...   MARAHOUE  CENTRE NORTH  61bee9c70c

[3974 rows x 21 columns]

# The most used cities for the 3 days

In [132]:
#Calculating the most used cities
df2['VILLES'].value_counts().head(10)

COCODY          354
YOPOUGON        295
ABOBO           255
MARCORY         141
TREICHVILLE     132
ADJAME          110
YAMOUSSOUKRO    104
PLATEAU         103
KOUMASSI         91
BOUAKE           65
Name: VILLES, dtype: int64

# The most used city for the 3 days

In [133]:
#Finding the most used city
df2['VILLES'].value_counts().head(1)

COCODY    354
Name: VILLES, dtype: int64

# The most used cities during business and home hours

In [134]:
#Grouping the dataset to determine the number of times they were in service using the status column
df9 = df2.groupby(['VILLES'], as_index = False)["STATUS"].count()
#Sorting them in descending order in order to determin the most used cities
df9.sort_values(["STATUS","VILLES"], axis = 0, ascending=False, inplace=True)
df9.head(15)

           VILLES  STATUS
122        COCODY     354
488      YOPOUGON     289
1           ABOBO     250
317       MARCORY     141
475   TREICHVILLE     132
11         ADJAME     109
484  YAMOUSSOUKRO     104
386       PLATEAU     103
284      KOUMASSI      91
108        BOUAKE      65
391    PORT-BOUET      59
133         DALOA      59
405     SAN-PEDRO      55
192        GAGNOA      55
40      ATTECOUBE      45

# The total value of each product

In [135]:
#Finding the total value of each product i.e. data, voice and sms
df7.groupby(['PRODUCT'], as_index=False)["VALUE"].sum()

  PRODUCT   VALUE
0   Voice  312593
1    data   17287
2     sms   53427

# Determining the number of cities in Abidjan or interior

In [136]:
#Finding the number of cities in Abidjan and Interior
df2.groupby(['LOCALISATION'], as_index=False)["VILLES"].count()

  LOCALISATION  VILLES
0      ABIDJAN    1669
1    INTERIEUR    2305

# Recommendations

From our analysis, we’d recommend that the company prioritizes the cities listed in the analysis above. Those cities have the most users in service and are the most used during business and home hours.

Since voice is the most used product amongst the 3 products provided, the company should consider making voice cheaper and easily available so that the users can use it more. 

The least used product is sms, therefore the company should make sms easily available and improve its infrastructure since most users do not seem to like their sms services.

The company should also provide better rates of the products, for example, having rates with more voice and the data should be more than the sms.
The company should also consider the cities(‘VILLES’) that are in the interior and outside the Abidjan since they are the ones with the most users. They should make their services readily available for those cities.